{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 500,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2,
        "printWidth": 500
      }
    }
  ]
}
